@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff2")
    format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-bold.woff2")
    format("woff2");
}

.whatsapp-button {
  background-color: #45d354;
}

.whatsapp-button:hover {
  background-color: #3fc54d;
}

.font-proxima {
  font-family: "Proxima Nova", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
